@font-face{
	font-family: "fuente1";
	src: url(Louis_George_Cafe_Bold.ttf);
}

@font-face{
	font-family: "fuente2";
	src: url(Louis_George_Cafe_Light.ttf);
}

body{
    background: rgb(196, 235, 240);
}
#root{
    font-family: "fuente1";
}

.linea{
    border: solid 1px;
    margin: 20px;
}
.disqus{
    margin: auto;
    width: 50%;
}
.caja_general{
    display: flex;
    justify-content: center;
}
.Footer, .Nav, .Header{
    text-align: center;
    width: 80%;
    margin: 10px;
}
/* Ordenamos de arriba hacia abajo */
.Header{
    font-size: 80px;
}

.Nav{
    display: Flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
    background: rgb(176, 176, 241);
}

.cajanav{
    padding: 10px;

}

.cajanav:hover{
    background: linear-gradient( rgb(196, 235, 240),rgb(170, 170, 244) );
    
}

.cajanavlink{
    text-decoration: none;
    font-size: 30px;
    color: rgb(69, 27, 27);
}

/* Footer */

.Footer{
    margin-top: 100px;
}

.fa-brands{
    font-size: 30px;
    margin: 15px;
}

.fa-hand-holding-dollar{
    font-size: 30px;
    margin: 5px;
    color:rgb(103, 240, 160);
}

.iconos-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.back_icon:hover{
    border-radius: 10px;
    padding: 10px;
    background: rgb(170, 170, 244);
}
.back_icono:hover{
    border-radius: 10px;
    padding: 10px;
    background: rgb(44, 44, 240);
}

.discus{
    margin: auto;
    width: 80%;
}
@media screen and (max-width: 490px) {
    .Header {
    font-size:40px;
    }
    .cajanavlink{
    font-size: 20px;
    }

}

/* Home */
.caja_general_home{
    display: flex;
    flex-direction: column;
    width: 80%;
}
p{
    margin: auto;
    padding: 13px;
    font-size: 23px;
}

