/* Materias */
.materias{
    display: flex;
    flex-direction: column;
}
.cajamaterias{
    display: flex;
    justify-content: center;
}

.atras_materias{
    color: black;
    padding: 3px;
    text-decoration: none;
    background: rgb(190, 190, 240);
    border-radius: 5px;
}

.caja_materias{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 5px;
    background: rgb(190, 190, 240);
    margin: 5px;
    border-radius: 5px;
}
.caja_materias:hover{
    background: linear-gradient( rgb(196, 235, 240),rgb(169, 169, 244) );
}

@media screen and (max-width: 500px) {
    .video_materias{
        width:300px; 
        height:160px;
    }
    
}

/* Foro */

.foro{
    display:flex;
    flex-direction: column;
}

.tabla{
    justify-content: center;
    
}

.comentario{
    display: flex;
}

.nombre_comentario2{
    background: rgb(205, 205, 246);
    margin: 1.5px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.caja_boton_foro{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.boton_comentar{
    width: 150px;
    font-family: 'fuente1';
    font-size: 30px;
    text-decoration: none;
    background:rgb(132, 132, 243) ;
    padding: 10px;
    color: rgb(69, 27, 27);
    border-radius: 5px;
}
.boton_comentar:hover{
    background: rgb(0, 255, 64);
}

/* Animaciones css*/ 

.fallback{
    font-size: 25px;
    color: rgb(230, 109, 109);
    display: flex;
    justify-content: center;
}


.carga .bola{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block ;
    background-color:rgb(230, 109, 109) ;
    transform: scale(0.2);
    animation: anim 1.2s infinite;
}
.bola:nth-child(2){
    animation-delay: 0.2s;
}
.bola:nth-child(3){
    animation-delay: 0.4s;
}
.bola:nth-child(4){
    animation-delay: 0.8s;
}
.bola:nth-child(5){
    animation-delay: 1s;
}
.bola:nth-child(6){
    animation-delay: 1.2s;
}
@keyframes anim{
    0%, 100%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(1);
    }
}

/* Crear comentario*/

.CrearComentario{
    margin: auto;
    width: 80%;
}

.formulario_crear_comentario{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid 1px;
    padding: 20px;
    border-radius: 10px;
}

.caja_nombre_crear_comentario{
    margin: auto;
}

.caja_comentario_crear_comentario{
    margin: auto;
}

.boton_crear_comentario{
    margin: auto;
    text-decoration: none;
    background:rgb(169, 169, 244) ;
    padding: 10px;
    color: rgb(69, 27, 27);
    border-radius: 5px;
    font-family: 'fuente1';
    font-size: 25px;
    border: none;
}

.letras_crear_formulario{
    margin: 5px;
}

.textarea_formulario_nombre{
    resize:none;
    border: none;
    padding: 10px;
    width: 300px;
}

.textarea_formulario{
    resize:none;
    border: none;
    padding: 10px;
    width: 300px;
    height: 100px;
}


@media screen and (max-width: 500px) {
    
    .formulario_crear_comentario{
        padding: 10px;
    }
    
    .CrearComentario{
        margin: auto;
        width: 90%;
    }
    .textarea_formulario_nombre{
        width: 90%;
    }
    
    .textarea_formulario{
        width: 90%;
        height: 200px;
    }
    .carga .bola{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 2px;
        
    }
}

